aiohttp
aiosignal
annotated-types
anyio
appdirs
attrs
cachetools
certifi
cffi
charset-normalizer
click
colorama
cryptography
dataclasses-json
distro
fastapi
filelock
frozenlist
fsspec 
gevent
google-ai-generativelanguage
google-api-core
google-auth
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httptools
httpx
huggingface-hub
idna
importlib-metadata
Jinja2
jsonpatch
jsonpointer
jwt
langchain
langchain-core
langsmith
litellm
MarkupSafe
marshmallow
multidict
mypy-extensions
numpy
openai
packaging
passlib
pip
proto-plus
protobuf
psycopg2
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic_core
pydantic-settings
python-dotenv
PyYAML                       
regex
requests
rsa
setuptools
sniffio
SQLAlchemy
starlette
tenacity
tiktoken
tokenizers
tqdm
typing_extensions
typing-inspect
urllib3
uvicorn
watchfiles
websockets
yarl
zipp
zope.event
zope.interface